# Godot 4+ specific ignores
.godot/
/android/

# Builds
builds/

# Ignore original unused dodge_the_creeps_2d_assets
*/dodge_the_creeps_2d_assets.zip
*/dodge_the_creeps_2d_assets/art/enemyFlyingAlt_1.png
*/dodge_the_creeps_2d_assets/art/enemyFlyingAlt_2.png
*/dodge_the_creeps_2d_assets/art/enemySwimming_1.png
*/dodge_the_creeps_2d_assets/art/enemySwimming_2.png
*/dodge_the_creeps_2d_assets/art/enemyWalking_1.png
*/dodge_the_creeps_2d_assets/art/enemyWalking_2.png
*/dodge_the_creeps_2d_assets/art/playerGrey_up1.png
*/dodge_the_creeps_2d_assets/art/playerGrey_up2.png
*/dodge_the_creeps_2d_assets/art/playerGrey_walk1.png
*/dodge_the_creeps_2d_assets/art/playerGrey_walk2.png